 /* .title {
  z-index: 100;
  position: relative;
  top:-59%;
  text-align: center;
  color: black;
  text-shadow: -1px 0 rgba(26, 0, 173, 0.452), 0 1px rgba(26, 0, 173, 0.424), 1px 0 rgba(26, 0, 173, 0.315), 0 -1px rgba(26, 0, 173, 0.438) 
}  */
/* .title h1{
  font-size: 80px;
  font-family: 'Merienda', cursive;
}
.title h2{
  font-size: 35px;
  font-family: 'Merienda', cursive;
}  */


.colorShift{
  height: 15px;
  margin: 20px 0px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(106, 189, 209, 0.493), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.logo{
  width: 100%;

}
@keyframes animate
{
0%
{
  background-position: -500%;
}
100%
{
  background-position: 500%;
}
}

@media only screen and (max-width: 888) {
  .title {
    /* opacity: 0; */
    color: green,
  }
}
