
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* align-content: space-between; */
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-color: rgba(241, 239, 239, 0);
  z-index: 100;
  font-family: 'Merienda', cursive;
}

.navbar a {
  font-size: 22px;
  color: black;
  text-align: center;
  padding: 30px 50px;
  font-style: italic

}

.navbar img {
  padding: 30px 60px 0px 0px;
  height: 200px;
  
}



@media only screen and (min-width: 851px) {
  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .links {
    display: none;
  }

}
@media only screen and (max-width: 750px) {
  
  .navbar img{
    padding: 10px 30px 0px 0px;
  height: 100px;
  }
}