
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: left;
  align-content: space-between;
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-color: rgba(241, 239, 239, 0);
  
  z-index: 0;
}

.navbar a {
  font-size: 22px;
  color: black;
  text-align: center;
  padding: 30px 50px;
  font-style: italic

}

.navbar img {
  padding: 30px 60px 0px 0px;
  height: 150px;
  
}

